.main {
    color: #E43D12;
}

.ui.grid {
    padding-top: 10%;
}

.header {
    font-size: 3em;
    padding: 10px 0px 0px 0px;
    text-align: left;
}

.text {
    font-size: 1em;
}

.field {
    text-align: left;
}

.ui.button.primary {
    background-color: #E43D12;
    color: #EBE9E1;
}