#root {
    width: 1200px;
    height: 656px;
}

.profile-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px; /* Adjust the gap value as needed */
    padding-bottom: 70px;
}
  
.owner-profile {
    flex: 1;
    max-width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
}

.owner-info {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(145, 196, 240, 0.478);
    border-radius: 5px;
    margin-bottom: 10px;
}

.pet-profile {
    flex: 2;
    max-width: 66.67%;
    border: 1px solid green;
}

.pet-list-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers items horizontally */
    justify-content: flex-start; /* Aligns items to the top */
    gap: 10px; /* Optional: Adds space between buttons */
    margin-top: 10px;
    width: 100%;
}

.pet-button {
    width: 100%;
    background-color: rgb(72, 72, 252);
    margin-bottom: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.pet-button:hover {
    background-color: rgb(54, 54, 196);
}

.add-pet-button {
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

form {
    margin-top: 10px; /* Adds space between the Add Pet button and the form */
    padding: 20px;
    background-color: rgba(145, 196, 240, 0.478);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adds space between form elements */
    width: 100%;
    align-items: center;
}

form input {
    margin-bottom: 5px;
    padding: 10px;
    border: none;
    background-color:antiquewhite;
    color: black;
    border-radius: 5px;
    font-size: 14px;
    width: calc(100% - 22px); /* Adjust width to account for padding and border */
}

form button {
    padding: 10px;
    background-color: rgb(57, 57, 253);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: rgb(45, 45, 202);
}