#root {
    width: 1200px;
    height: 656px;
}

.profile-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px; 
    padding-bottom: 70px;
}
  
.owner-profile {
    flex: 1;
    max-width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.pet-profile {
    flex: 2;
    max-width: 66.67%;
}