/* .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1em;
  background-color: #E43D12;
  border: '1px solid black'
    z-index: 1000;
}

.header-content {
  color: white;
} */