.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
  background-color: #E43D12;
  border: '1px solid black';
}

.name {
  justify-content: left;
}

.header-content {
  color: white;
  display: flex;
  justify-content: flex-end; /* Align content to the right */
  padding-right: 1rem; /* Add some padding to the right side */
  padding-top: .5em;
}

.menu-button {
  cursor: pointer;
  justify-content: right;
  margin-right: 1em;
  margin-left: 1em;
}

.profile-button {
  margin-right: 1em;
  margin-left: 1em;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.dropdown-item {
  color: #E43D12;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0.25rem 0.5rem;
}

.dropdown-item:hover {
  background-color: #E43D12;
  color: #fff;
}


/* .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
  background-color: #E43D12;
  opacity: 80%;


}

.header-content {
  color: white;
  justify-content: right;
  padding-right: .25em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 2em; 
}

.small {
  padding: 0.25rem 0.5rem;
  outline: #E43D12;
} */