/* .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: #E43D12;
    padding: 1em 0;
    text-align: center;
  }
  
  .header-content {
    color: white; 
  } */