.events-section {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'Arial', sans-serif;
  text-align: center; 
  background-color: rgba(128, 182, 230, 0.2);
  border-radius: 5px;
  padding: 20px;
}

.events-section h2 {
  font-size: 24px;
  color: #ff4500;
  background-color: rgba(144, 191, 233, 0.394);
  padding: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.add-event-button {
  width: 20%;
  padding: 15px;
  font-size: 16px;
  background-color: #E43D12;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.add-event-button .plus.icon {
  margin-left: 5px;
  margin-right: 0px;
  text-align: right;
}

.events-section button:hover {
  background-color: #d13b00; 
}

.events-section ul {
  list-style: none;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.events-section .event-item {
  margin-bottom: 20px;
  text-align: left; 
}

.events-section h3 {
  font-size: 16px;
  color: #333;
}

.events-section p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 12px;
  background-color: rgba(144, 191, 233, 0.394);
  padding: 10px;
  border-radius: 5px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}